

.special_link{
    text-decoration: none;
    color: black;
}

.content_button{
    box-sizing: border-box;
    padding: 10px 20px;
    background-color: grey;
    width: fit-content;
    border-radius: 5px;
    text-transform: capitalize;
    display: flex;
    cursor: pointer;
    align-items: center;
    transition: 0.5s linear;
    font-weight: 700;
}

.content_button:hover{
    background-color: black;

}

.all_posts_btn{
    color: white;
    text-decoration: none;

}

.button_arrow{
    width: 15px;
    padding-top: 3px;
    margin-left: 10px;
    
}

.button_arrow_left{
    width: 15px;
    padding-bottom: 4px;
    margin-right: 10px;
}


.selected_tag{
    width: 100%;
    box-sizing: border-box;
    padding: 20px 20px;
    background-color: #fff;
    margin-bottom: 15px;
    border-radius: 10px;
    font-size: 30px;

   animation-name: appearing;
    animation-duration: 3s;

}

@keyframes appearing{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}



