


.not_found_block{
    text-align: center;
}

.not_found_block_number{
    font-size: 120px;
    color: red;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.not_found_block_text{
    font-size: 40px;
    text-transform: capitalize;

}