



.icons{
    display: flex;
    margin-bottom: 10px;

}


.icons >a{
    margin-right: 10px;
}

.networks {
    width: 22px; /*Добавити hover на іконки*/
}


.networks_sub_text{
    text-transform: uppercase;
    color: #aaa;
    letter-spacing: 2.5px;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1px;
}